.coverpage{
  height: 100vh;
  width: 100vw; 
  position:relative;
  background-image: url('CoverPage.jpg');
  background-size: cover;
}

.slide-show{
  padding-left: 10%;
  padding-right:10%;
  padding-bottom: 5%;
  display: flex;
}

.custom-cara{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  background-color: #62eec4;
  padding-top: 15%;
  padding-bottom: 15%;
}

.carousel-item{
  text-align: center;
  padding: 10%;
}


hr{
  width: 50%;
  box-shadow: 0 1px 2px #000;
}

.overlay{
  width: 100%;
  height: 100%;
  color: white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0,0, 0.5);
  overflow: hidden;
}

.overlay h1{
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: center;
  overflow: hidden;
  font-size: 50px;
}

.overlay p{
  padding: 5%;
  padding-top: 2%;
  text-align: center;
}

.company{
  font-weight: bold;
  font-size: larger;
}

.navbar{
  text-align: center;
  justify-content: center;
}

.service{
  width: 100%;
  margin: 0%;
  background-color: rgb(158, 148, 134);
}

.insights{
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}

.vision{
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}

.vision h1{
  padding-top: 10%;
  color: black;
  overflow: hidden;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Lumanosimo', cursive;
}

.vision p{
  padding-top: 2%;
  font-size: 30px;
  font-family: 'Fasthand', cursive;
  overflow: hidden;
}

.service h1{

  padding-top: 5%;
  color: black;
  align-self: center;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
  padding-bottom: 1%;
}

.expect_us h1{
  padding-top: 10%;
  padding-bottom: 5%;
  color: black;
  overflow: hidden;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Lumanosimo', cursive;
}

.com_insights h1{
  padding-top: 7%;
  color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
  padding-bottom: 1%;

}

.com_insights p{
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  font-size: 24px;
  font-family: cursive;
}

.row{
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 30px;
}

.col{
  padding: 3%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  color: #000;
}

.col:hover{
  background-color: #000000;
  color: #ffffff;
}

.quote{
  width: 100%;
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: left;
  background-color:rgba(0,0,0,0.5);
  background-image: url('./Images/insight_full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.quote p{
  padding-top: 10%;
  padding-bottom: 9%;
  padding-right: 55%;
  padding-left: 5%;
  text-align: justify;
  font-size: 1.5rem;
  color: #ffffff;
}

.custom-card {
  padding-left: 5%;
  padding-right: 5%;
  padding: 2%;
  flex: 0 0 300px;
  margin: 10px;
  background-color: #ffffff;
}

.card-body-comp {
  display: flex;
  align-items: center;
}

.icon-container {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.content {
  flex: 1 1 auto;
  text-align: center;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 7%;
}

.icon{
  color: rgb(2, 2, 179);
}

.text{
  color: black;
}

.custom-card:hover{
  background-color: rgb(2, 2, 179);
}

.custom-card:hover .icon{
  color:#ffffff;
}

.custom-card:hover .text{
  color:#ffffff;
}





@media only screen and (max-width:1500px){
  .quote p{
      padding-top: 10%;
      padding-bottom: 9%;
      padding-right: 45%;
      padding-left: 5%;
      text-align: justify;
      font-size: 1.5rem;
      color: #ffffff;
  }
}


@media only screen and (max-width:900px) {

    .service h1{
      padding-top: 10%;
      font-size: 2rem;
      padding-bottom: 10%;
    }
    .overlay h1{
      font-size:  45px;
    }

    .overlay p{
      font-size: 16px;
    }
    .com_insights h1{
      padding-top: 10%;
      font-size: 2rem;

    }
    .com_insights p{
      padding-top: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 4%;
      font-size: 1rem;
    }

    .vision h1{
      padding-top: 8%;
      font-size: 2rem;

    }

    .expect_us h1{
      padding-top: 8%;
      font-size: 2rem;
    }

    .vision p{
      padding-top: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 1%;
      font-size: 1.35rem;
    }

    .quote{
      background-color:rgba(0,0,0,.9);
      background-image: url('./Images/insights_half.jpg');
      background-size: cover;
    }

    .quote p{
      padding-top: 7%;
      padding-bottom: 6%;
      padding-right: 15%;
      padding-left: 15%;
      text-align: justify;
      font-size: 1.15rem;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  

    .slide-show{
      padding-left: 0%;
      padding-right:0%;
      padding-bottom: 5%;
      display: flex;
    }
    .custom-cara{
      overflow: hidden;
      height: 100%;
    }

    .carousel-item{
      margin-bottom: 35%;
      flex-direction: column;
      padding-top: 55%;
    }
}