.coverpage{
  height: 100vh;
  width: 100vw; 
  position:relative;
  background-image: url('./Components/CoverPage.jpg');
  background-size: cover;
}

.navbar .nav-link.active{
  color: #a8a8a8 !important;
}

#tsparticles{
  z-index: -1;
  position: relative;
  opacity: 0.5;
}

.journey-video-two{
  border-radius: 10px;
  box-shadow: 0 4px 8px #000000;
}

.navbar-com{
  justify-content: center;
  text-align: center;
}

.navbar-nav{
  align-items: center;
}

.collapsed-container{
  background-color: #000000;  
  padding: 0%;
  overflow: scroll;
}

.collapsed-card{
  background-color: #00000000;
  padding: 0%;
  margin: 0%;
}

.timeline .dccQoV:not(.using-icon).active{
  background-color: #ffffff !important;
}

.collapsed-card-body{
  justify-content: center;
  align-items: center;
  outline: none;
  background: linear-gradient(to bottom, rgb(25, 22, 56),black,rgb(49, 22, 22));
}         

.collapsed-service{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.collapse-link-toggle{
  width: 100%;
  color: #00000000;
}

.collapsible-link {
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff !important;
  background-color: #000000 !important;
  font-weight: bold;
  border-radius: 0% !important;
}

.collapsed-card-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.collapsed-card{
  min-width: 100vw;
}

.collapsed-card-transition-enter {
  opacity: 0;
}

.collapsed-card-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.collapsed-card-transition-exit {
  opacity: 1;
}

.collapsed-card-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.timeline{
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 100%;
}


.timeline .my-card{
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(6, 53, 155) , rgb(134, 6, 6)) !important;
}

.timeline .jLJMJb{
  height: 100%;
}


.timeline .gxPRma{
  margin: 0% !important;
}

.timeline span{
  display: none;
}


.timeline .bugOwh{
  flex:0 0 0%;
}

.timeline .my-card-media{
  border: none;
  width: 90%;
  height: 200px;
  background-color: #ffffff00;
  image-resolution: 100%;
  margin: 0%;
  border-radius: 0%;
  padding: 0%;
  padding-top: 5%;
}

.timeline .my-card-text{
  text-align: center;
  padding: 0%;
  margin: 0%;
  padding-bottom: 5%;
  padding-left: 0%;
  padding-right: 0%;
  max-height: 400px;
}

.timeline .my-card-text p{
  color: #ffffff;
  font-size: 1rem;
}


.clientele-body{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('./Components/Journey/compute-ea4c57a4.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.clients h1{
  padding-top: 7%;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
  padding-bottom: 4%;
  overflow: hidden;
}


.slide-show{
  padding-left: 10%;
  padding-right:10%;
  padding-bottom: 5%;
  display: flex;
}

.slide-show .custom-cara{
  width: 100%;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 1px solid #00000000;
  background-color: #000000;
}

.slide-show .custom-cara .carousel-caption{
  position: absolute;
  bottom: 49%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 1, 0);
  padding: 0%;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
}

.carousel-image-wrapper {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height to your desired value */
  overflow: hidden;
}

.carousel-image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

hr{
  width: 50%;
  box-shadow: 0 1px 2px #000;
}

.overlay{
  width: 100%;
  height: 100%;
  color: white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0,0, 0.5);
  overflow: hidden;
}

.overlay h1{
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: center;
  overflow: hidden;
  font-size: 50px;
}

.overlay p{
  padding: 5%;
  padding-top: 2%;
  text-align: center;
}

.company{
  font-weight: bold;
  font-size: larger;
}

.service{
  width: 100%;
  margin: 0%;
  background-color: rgb(158, 148, 134);
  background-image: url('./Components/Service/172hg3fmsrv4ajwr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.insights{
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff00;
  overflow: hidden;
}

.vision{
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff00;
  overflow: hidden;
}

.vision h1{
  padding-top: 10%;
  color: black;
  overflow: hidden;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Lumanosimo', cursive;
}

.vision p{
  padding-top: 2%;
  font-size: 30px;
  font-family: 'Fasthand', cursive;
  overflow: hidden;
}

.service h1{
  padding-top: 4%;
  color: rgb(255, 255, 255);
  align-self: center;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
}

.expect_us h1{
  padding-top: 10%;
  padding-bottom: 5%;
  color: black;
  overflow: hidden;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Lumanosimo', cursive;
}

.com_insights h1{
  padding-top: 7%;
  color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
  padding-bottom: 1%;

}

.com_insights p{
  padding-top: 0%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  font-size: 24px;
}


.quote{
  width: 100%;
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: left;
  background-color:rgba(0,0,0,0.5);
  background-image: url('./Components/Images/insight_full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.quote p{
  padding-top: 10%;
  padding-bottom: 9%;
  padding-right: 55%;
  padding-left: 5%;
  text-align: justify;
  font-size: 1.5rem;
  color: #ffffff;
}

.custom-card {
  padding-left: 5%;
  padding-right: 5%;
  padding: 2%;
  flex: 0 0 300px;
  margin: 10px;
  background-color: #ffffff;
}

.custom-card-sec {
  margin: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.card-body-comp {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.icon-container {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.content {
  flex: 1 1 auto;
  text-align: center;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 7%;
}

.card-row-sec {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1%;
}

.card-image{
  max-width: 130px;
  max-height: 130px;
  min-height: 130px;
  min-width: 130px;
  width: 100%;
  height: 100%;
}

.icon{
  color: rgb(2, 2, 179);
}

.text{
  color: black;
}

.custom-card:hover{
  background-color: rgb(2, 2, 179);
}

.custom-card:hover .icon{
  color:#ffffff;
}

.custom-card:hover .text{
  color:#ffffff;
}

.journey-video{
  padding-top: 2%;
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 0%;
}

.journey{
  color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 6%;
}

.journey h1{
  padding-top: 6%;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
}

.timeline .my-title{
    text-align: center;
    font-size: 2rem;
    padding: 0%;
  }

@media only screen and (max-width:1500px){
  .quote p{
      padding-top: 10%;
      padding-bottom: 9%;
      padding-right: 45%;
      padding-left: 5%;
      text-align: justify;
      font-size: 1.5rem;
      color: #ffffff;
  }
}


@media only screen and (max-width:900px) {

    .journey-video{
      padding-top: 10%;
      padding-left: 0%;
      padding-right: 0%;
    }
    .service h1{
      padding-top: 10%;
      font-size: 2rem;
      padding-bottom: 10%;
    }
    .overlay h1{
      font-size:  45px;
    }

    .overlay p{
      font-size: 16px;
    }
    .com_insights h1{
      padding-top: 10%;
      font-size: 2.25rem;
    }

    .journey h1{
      padding-top: 10%;
      font-size: 2.25rem;
    }

    .com_insights p{
      padding-top: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 4%;
      font-size: 1.25rem;
    }

    .vision h1{
      padding-top: 8%;
      font-size: 2.25rem;

    }

    .expect_us h1{
      padding-top: 8%;
      font-size: 2rem;
    }

    .vision p{
      padding-top: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 1%;
      font-size: 1.35rem;
    }

    .quote{
      background-color:rgba(0,0,0,.9);
    }

    .quote p{
      padding-top: 7%;
      padding-bottom: 6%;
      padding-right: 15%;
      padding-left: 15%;
      text-align: justify;
      font-size: 1.15rem;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  

    .slide-show{
      padding-left: 0%;
      padding-right:0%;
      padding-bottom: 5%;
      display: flex;
    }

    .slide-show .custom-cara{
      height: 250px;
    }

    .carousel-image-wrapper {
      height: 250px;
      overflow: hidden;
    }

    .timeline{
      padding-left: 0%;
      padding-right: 0%;
    }

    .timeline .my-title{
      font-size: 0.9rem;
    }
    .timeline .jLJMJb{
      padding: 0%;
    }

    .timeline .ZupoT{
      padding: 0%;
    }

    .timeline .TuTlA{
      margin-top: 2%;
    }

    .card-image{
      max-width: 100px;
      max-height: 100px;
      min-height: 100px;
      min-width: 100px;
    }

    .clientele-body .card{
      --bs-card-spacer-y:0.35rem;
      --bs-card-spacer-x: 0.35rem;
    }
}

@media only screen and (max-height:500px) {
  .slide-show{
      padding-left: 15%;
      padding-right:15%;
      padding-bottom: 5%;
      display: flex;
    }

    .slide-show .custom-cara{
      height: 200px;
    }

    .carousel-image-wrapper {
      height: 200px;
      overflow: hidden;
    }

    .overlay h1{
      font-size:  28px;
    }

    .overlay p{
      font-size: 12px;
    }

    .com_insights p{
      padding-top: 2%;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 4%;
      font-size: 1rem;
    }

    .icon{
      font-size: 3rem;
    }

    .text{
      font-size: 0.75rem;
    }

    .journey-video{
      padding-top: 10%;
      padding-left: 15%;
      padding-right: 15%;
    }
}

.overall-career{
  background-color: #ffffff00;
}

.divoftable{
  padding-bottom: 2%;
}



.career {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 4%;
    background-color: #00000000;
  }


  .career h1 {
    margin-top: 0;
    padding-bottom: 2%;
    font-size: 4rem;
    text-align: center;
  }

  .career p{
    text-align: center;
    font-size: 1.5rem;
  }

.contact-us{
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: row;
}

.addresses{
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(119, 119, 119, 0.753);
  padding: 5%;
}

.addresses .the-fields{
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.addresses .text-field{
  margin-top: 1%;
  width: 100%;
  color: #ffffff;
}

.addresses .thebutton{
  display: flex;
  align-self: flex-end;
  margin-top: 5%;
}

.contact-form{
  width: 50%;
  justify-content: center;
  background-color: darkmagenta;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.contact-form .row1{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-form .row2{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-form .highlight {
  background-color: #000000;
  color: #fff;
}


.carasouel-slides{
  width: 100%;
  height: 100%;
  background-color: #00000000;
  align-items: center;
  justify-content: center;
}


.carasouel-slides .custom-cara-2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}


.custom-cara-2 .item-2{
  height: 700px;
  width: 100%;
}


.custom-cara-2 .caption-2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 0%;
}

.custom-cara-2 .carousel-control-next{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85, 84, 84, 0.493));
}

.custom-cara-2 .carousel-control-prev{
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(85, 84, 84, 0.493));
}

.custom-cara-2 span{
  height: 4rem;
  width: 4rem;
}

.Profile{
  width: 90%;
  height: 100%;
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 5%;
  flex-direction: row;
  background: linear-gradient(to right, rgb(17, 17, 44),rgb(78, 21, 21));
  border-radius: 30px;
  box-shadow: 0 8px 8px #0000009c;
}

.Profile_Heading{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.Profile_Heading h1{
  color: #ffffff;
}

.Profile_Redriector{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.Profile_Redriector button{
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 30px;
  color: #ffffff;
  background: linear-gradient(to bottom right, rgba(28, 28, 255, 0.884) , rgb(0, 0, 0) , rgba(182, 47, 47, 0.753));
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Profile_Redriector button:hover{
  transform: scale(1.15);
}

.Policy{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #00000000;
  background: linear-gradient(to bottom, black ,rgb(78, 14, 14),rgb(18, 18, 63),rgb(0, 0, 0),rgb(0, 0, 0),black);
  overflow: hidden;
}

.com_policy h1{
  padding-top: 5%;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  font-style: oblique;
  font-size: 3.75rem;
  padding-bottom: 1%;
  text-align: center;
}

.com_policy p{
  padding-top: 0%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  font-size: 1.35rem;
  text-align: center;
  color: #ffffff;
}

.navbar a{
  color: #ffffff !important;
}


.Timeline-Body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Main-Timeline-Body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.Timeline-Row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

.Timeline-Row .left-content{
    width:46%;
    height: auto;  
}

.Timeline-Row .content-sperator{
    width: 8%;
    display: block;
    align-items: center;
    justify-content: center;
}

.Timeline-Row .right-content{
    width:46%;
    height: auto; 
}

.left-content .Timeline-Card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.right-content .Timeline-Card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.left-content .Timeline-Title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.right-content .Timeline-Title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content-sperator .the-Shape{
    position: relative;
    height: 100%;
}

.the-Shape .line{
    width: 3px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.the-Shape .circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-content .Timeline-Title h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.right-content .Timeline-Title h1{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.Timeline-Card p{
    padding-top: 3%;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.Timeline-Card img{
    width: 100%;
    min-height: 250px;
    max-height: 300px;
}

.Timeline-Card{
    background: linear-gradient(to bottom right, blue,red);
    border-radius: 3%;
    width: 100%;
}

.Main-Timeline-Body section{
    width: 100%;
}

.table-div{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #00000059;
    border-radius: 10px
}

.the-table{
    width: 100%;
    height: 100%;
    align-items: center;
    table-layout: fixed;
}

tr {
  border-bottom: 1px solid #00000054 !important;
}

th {
    font-size: 1.05rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.th .depart,.position{
    text-align: center;
}

.th .position,.ID{
    text-align: center;
}

.th .position, .depart{
    text-align: center;
}

td{
    font-size: 0.95rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.table-div .page-change{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.search-bar{
    width: 95%;
    justify-content: center;
    align-self: center;
    margin-bottom: 0.75rem;
}

input{
    width: 100%;
    border-color: #00000023;
    padding: 0.5rem;
}

.table-div .page-change button{
    border: none;
    background-color: #ffffff00;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.table-div h1{
    font-size: 3rem;
    padding: 4%;
    text-align: center;
}


.the-table button{
    border: none;
    background: linear-gradient(to right, rgb(22, 22, 163) , rgb(121, 16, 16));
    color: #ffffff;
    font-weight: bold;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

:root {
  --padding-top-percentage: 25; 
}

.PopUpModal{
  padding-top: calc(var(--padding-top-percentage) * 1vh);;
}

@media screen and (max-height: 600px) {
  :root {
    --padding-top-percentage: 20; 
  }
}

@media screen and (min-height: 1000px) {
  :root {
    --padding-top-percentage: 30;
  }
}

.footer-com{
  background-color:#000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.footer-com hr{
  color: #ffffff;
  width: 100%;
}

.footer-com .footer-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.footer-content .nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.nav-links a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.15rem;
  padding-top: 1%;
}

.footer-addresses{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-left: 2%;
}

.address-rows{
  width: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
}

.address-rows p{
  padding-left: 2%;
  font-size: 0.9rem;
}

.footer-com h2,h5,h6,p,a{
  overflow: hidden;
}

