*{
  margin: 0px;
  padding: 0px; 
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2{
  font-family: 'Lisu Bosa', serif !important;
  font-weight: bold !important;
}

p, h3,h4, h5, h6{
  font-family: 'PT Serif', serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
